html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.box-center-web {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popover-style {
  width: 150px;
  height: 150px;
  transform: translate3d(1200px, 72px, 0px);
}
.notif-icon {
  color: rgb(128, 128, 223);
}

.modal-body {
  padding-top: 10px;
}

.modal-header{
  display: flex;
  /* justify-content: flex-start; */
  font-size: 25px;
}

.modal-style {
  background: white;
  width: 1200px;
  height: 600px;
  border-radius: 15px;
  padding: 15px;
  flex-direction: column;
  justify-content: center;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 3.0;
  background-color: rgb(255, 255, 255);
}
